.progress-container {
    width: 631px;
    height: 35px;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 2px 2px 2px 2px;
}

.progress-bar {
    height: 100%;
    background-color: #f50606;
    margin-bottom: 5px;
}
